name: Check

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Linting
    timeout-minutes: 15
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - run: pnpm i --frozen-lockfile
      - run: pnpm typecheck 
      - run: pnpm check
        
      
         

  test-build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - run: pnpm i --frozen-lockfile
      - run: pnpm run build
          
